@model CarDealership.UI.Models.HomeVM

@{
    ViewBag.Title = "Home Page";
}

<h2>Specials</h2>
<div class="jumbotron">
    @foreach (var special in Model.Specials)
    {
        <h3>@special.SpecialTitle</h3>
        <p>@special.SpecialMessage</p>
    }
</div>

<div class="row">
    <div class="col-xs-12">
        <h3>Featured Listings</h3>
        @foreach (var listing in Model.FeaturedListings)
        {
            <div class="col-xs-12 col-sm-6 col-md-4 featuredListingBoarder">
                <p class="featuredListing"><strong>@listing.ModelYear @listing.MakeName @listing.ModelName</strong></p>
                <p class="featuredListing"><strong>$@listing.SalePrice</strong></p>
            </div>
        }
    </div>
</div>



